@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif; /*typography aka font*/
	/*scroll-behavior: smooth;*/
}


/* header banner */
header {
	position: absolute;
	z-index: 10;
	width: 100%
}

.navbar {
	padding: 0px 0 0 30px;
	color:white;
	display: flex;
	background-color: rgba(0, 0, 0, 0.1); /*background gradient for the navbar*/
}

.navbar-brand {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2em;
	color: #FFFFFF;


}

.nav-item {
	font-size: 1.2rem;
	text-transform: uppercase;

	

}

.navbar-light .navbar-nav .nav-link
{
	

	color: white;
	margin: 0px 20px 0px 20px;

}

.navbar-light .navbar-nav .nav-link:hover 

{
	color:yellow;
}

.navbar-light .navbar-nav .nav-item .nav-link
{

	padding: 0px 0px;
}


.banner {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	/*max-height: 50vh;*/
	/*padding: 250px 0px 200px;*/
	justify-content: center;
	background: url(../images/pork.jpg);
	min-height: 95vh;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.banner::before {

	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.5;
	z-index: -1;
	/*max-height: 50vh;*/
	padding: 250px 0px 200px;
}



.banner h1 {

	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: white;
	font-weight: 900;
}

.banner h1 span {

	color:yellow;
}

.banner p {
	display: inline-block;
	margin: 1em 0 0;
	background: #ff2760;
	color: #fff;
	padding: 10px 20px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: 800;
}

.banner a {
	border: 2px solid ;
	padding: 10px 60px;
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.banner a:hover {
	background-color: black;
	color: yellow;
}

/*End of header CSS section*/

/*PLOT*/

.banner h6 {

	width: 100%;
	font-size: 2rem;
	color: white;
	font-weight: 900;
	align-items: center;
}

.banner h6 span {

	color:yellow;
}

/*gallery*/
.gbanner {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	/*max-height: 50vh;*/
	/*padding: 250px 0px 200px;*/
	justify-content: center;
	background: url(../images/pork.jpg);
	min-height: 95vh;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.gbanner::before {

	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.5;
	z-index: -1;
	/*max-height: 50vh;*/
	padding: 250px 0px 200px;
}



.gbanner h1 {

	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: white;
	font-weight: 900;
}

.gbanner h1 span {

	color:yellow;
}

.gbanner p {
	display: inline-block;
	margin: 1em 0 0;
	background: #ff2760;
	color: #fff;
	padding: 10px 20px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: 800;
}

.gbanner a {
	border: 2px solid ;
	padding: 10px 60px;
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.gbanner a:hover {
	background-color: black;
	color: yellow;
}
/*end of gallery*/

/*Video*/
#video {
	text-align: center;
}

